{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form action="/register" method="post" id="registerform">
        <div id="registerwelcome">Please provide necessary details below</div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="login" placeholder="login" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
